extends layout

block content
  a(href="/experiment" style="font-size: 20px;") Back
  h1= 'Your score : ' + title
  .date= createdAt
  .file= file
  img(src=`/uploads/${file}`)
  audio(src=`/uploads/${file}`,controls="true")
